<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js Practice</title>
  </head>
  <body>

    <div id="example">
      <input v-model="parentMsg"/>
      <br>
      <my-component :my-message="parentMsg"></my-component>
    </div>

    <div id="example-2">
      <simple-counter></simple-counter>
      <simple-counter></simple-counter>
      <simple-counter></simple-counter>
    </div>

    <div id="counter-event-example">
      <p>{{total}}</p>
      <button-counter @increment="incrementTotal"></button-counter>
      <button-counter @increment="incrementTotal"></button-counter>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="script.js"></script>

  </body>
</html>
